* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  gap: 72px;
  margin-top: 36px;
  font-family: 'Roboto', sans-serif;
  color: rgb(45, 45, 45);
  background-color: rgb(230, 230, 230);
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 32px;
  font-family: 'Silkscreen', 'Roboto', sans-serif;
  margin-bottom: 36px;
}

#color-picker-p {
  margin-bottom: 36px;
  display: flex;
  gap: 18px;
  align-items: center;
}

#color-picker-c {
  width: 54px;
  height: 54px;
  border: solid rgb(160, 160, 160) 1px;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .3s;
}

#color-picker-c:hover {
  box-shadow: 0 0 6px ;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  width: 125%;
  height: 125%;
  transform: translate(-6px, -6px);
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#buttons button {
  appearance: none;
  width: 100%;
  height: 36px;
  border: solid rgb(160, 160, 160) 1px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(45, 45, 45);
}

#buttons button:hover {
  filter: brightness(95%);
}

#buttons .enabled-btn {
  background-color: rgb(0, 120, 255);
  color: white;
}

input[type="range"] {
  width: 100%;
  accent-color: rgb(0, 120, 255);
  margin-top: 6px;
}

#container {
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
}

.waiting {
  background-color: white;
}

.border-top-left {
  border-top: solid rgb(160, 160, 160) 1px;
  border-left: solid rgb(160, 160, 160) 1px;
}

.border-right {
  border-right: solid rgb(160, 160, 160) 1px;
}

.border-bottom {
  border-bottom: solid rgb(160, 160, 160) 1px;
}