* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 35px;
  font-family: 'Roboto', sans-serif;
  color: rgb(45, 45, 45);
  background-color: rgb(230, 230, 230);
}

#settings {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

h1 {
  font-size: 32px;
  font-family: 'Silkscreen', 'Roboto', sans-serif;
}

input[type="range"] {
  width: 100%;
  accent-color: rgb(0, 120, 255);
  margin-top: 6px;
}

#container {
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
}

.waiting {
  background-color: white;
}

.triggered {
  background-color: black;
}

.border-top-left {
  border-top: solid rgb(160, 160, 160) 1px;
  border-left: solid rgb(160, 160, 160) 1px;
}

.border-right {
  border-right: solid rgb(160, 160, 160) 1px;
}

.border-bottom {
  border-bottom: solid rgb(160, 160, 160) 1px;
}